<?php

define(	'DB_SERVER',	'mysql5.mydevil.net'	);
define(	'DB_NAME',		'm14611_lel'			);
define(	'DB_USER',		'm14611_lel'			);
define(	'DB_PASSWORD',	'gwvXYa5Lc56eLUV2X7h0'	);
define( 'DB_PREFIX',	''						);

try {
	$conn = new PDO(
		'mysql:host='.DB_SERVER.'; dbname='.DB_NAME.'; charset=utf8',
		DB_USER,
		DB_PASSWORD
	);

	// $conn->setAttribute( PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION );
	$conn->setAttribute( PDO::ATTR_ORACLE_NULLS, PDO::NULL_TO_STRING );
} catch( PDOException $e ) {
	$response = 'Nie można ustanowić połączenia z bazą danych. Informacja o błędzie: ' . $e->getMessage();
}

?>